body {
  font-family: sans-serif;
  font-weight: 300;

background-image: url('./../images/wp3160287.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
}
#home{
  color:#fff;
  
}


.navbar {
  margin-bottom: 40px;
}

footer {
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 3px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.row{
  margin-bottom: 200px;
}
#movies {
  margin: 100px 0 100px 0 ;
}
img {
  /* object-fit: cover;
  height: 200px; */
}
.card{
  color: #000;
}
nav > form > button{
  background-color: black;
  color: white
}

a {
  text-decoration: none;
}

